@import url('https://fonts.googleapis.com/css2?family=Charm&family=Lato:wght@300&display=swap');

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #0c350c;
}
h1, h2 {
    font-family: charm , sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #05460a;
}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 2.5%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;

}
#menu li {
    float: inline-end;
    list-style-type: none;
    margin-right: 25px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #064b1a;
}
.active {
    border-bottom: 1px solid #064b1a;
}

/* styles for the shop front*/
#outer-style {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#shop-front {
    height: 600px;
    width: 100%;
    background-image: url(../image/front\ of\ a\ flower\ shop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* footer styles */
footer {
    height: 150px;
}

.socials {
    text-align: center;

}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #2804f3;
}