body {
    background-color: lightblue;
}

footer {
    height: 150px;
}

.socials {
    text-align: center;

}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #2804f3;
}